@import '../css/button.css';
@import '../css/google-icons.css';
@import url('https://fonts.googleapis.com/css?family=Oswald|Ubuntu');

$maxWidth: 600px;

body {
  background-color: #EEE;
  margin: 8px auto;
  //max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding:0 10px;
  max-width: $maxWidth;
  font-family: Ubuntu;
}

h1,h2,h3 {
  line-height: 1.2
}

.image-responsive {
  max-width: 100%;
  align-self: center;

  &.lazyloading {
    max-width: 150px;
  }

  @media (min-width: 600px) {
    & {
      max-width: 600px;
    }
  }
}

#nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  & a {
    font-family: Oswald;
  }
}

#pagination {
  display: flex;
  justify-content: center;
}

hr {
  width: 100%;
}

.images-container {
  display: block;
  line-height: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  a * {
    margin: 4px;
  }
}
#pagination a {
  text-decoration: none;
  margin: 4px;

  & button {
    display: flex;
    align-items: flex-end;
  }
}

.albums-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .album {
    flex: 0 0 100%;
    border-bottom: 1px #444 solid;

    @media (min-width: 425px) {
      flex: 0 0 28.8%;
    }
  }
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 12px;
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  opacity:1;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modalDialog > div {
  position: relative;
  padding: 8px;
  background: #eee;
  max-width: 600px;
}
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.close:hover {
  background: #00d9ff;
}
